@{
    ViewBag.Title = "CallCRM - Home";
}

<h2>Welcome to Call CRM</h2>
<p>
   <h2>@Html.ActionLink("Persons", "Index", "Contact")</h2>
   <h2>@Html.ActionLink("Companys", "Index", "Company")</h2>
    <h2>@Html.ActionLink("Events", "Index", "Events")</h2>
</p>
